[Unit]
Description=My Service
After=multi-user.target

[Service]
ExecStart=/usr/bin/python /home/user/service.py
WorkingDirectory=/home/user
User=user

[Install]
WantedBy=multi-user.target
